.cookie_info
{
	display: none; position: absolute; top: 0px; right: 0px; background: rgba(38,25,16,1); width:700px; height: 50px; color: white; text-align: center; line-height: 50px;
}
.c_first
{
	color:#b9b9b9
}
.c_second
{
	color: white; text-decoration:none;
}
.c_third
{
	color: white; text-decoration:none; cursor:pointer;
}
.c_fourth
{
	color: white; text-decoration:none;
}